body
{
	margin: 0;
	padding: 0;
	background-image: url('../img/bg5.jpg');
	background-size: cover;
	background-position: center;
	font-family: 'Muli', sans-serif;
	background-attachment: fixed;

}

.navigation{
	overflow: hidden;
    background-color: rgba(0,0,0,0.8);
    position: fixed; 
    top: 0;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
    padding-top: 1.2%; margin: 0; padding-bottom:  0%;
    z-index: 1;
}

.nav{
    border-width:1px 0;
    list-style:none;
    margin:0 0 2% 0;
    padding:0;
    text-align:center;
    z-index: 1;
}
.nav li{
    display:inline;
}

hr{
	border: 1px solid black;
	width: 80%;
	background-color: black;
}

h1{
	font-size: 30px;
}

td{
	text-align: left;
	border: 1px solid black;
	padding: 5px;
	background-color: #f27ea8;
}

th{
	border: 1px solid black;
	padding: 5px;
	background-color: #ed247c;
}

.home1, .home2, .home3{
	margin-top: 2%;
}

.home1 td{
	text-align: left;
	border: 1px solid black;
	padding: 5px;
	background-color: #f9bcd0;
}

.home1 th{
	border: 1px solid black;
	padding: 5px;
	background-color: #d9add0;
}

.home2 th{
	background-color: #1e5178;
	color: white;
}

.home2 td{
	background-color: #00c1f0;
}

.home3 th{
	background-color: #afdfe9;
}

.home3 td{
	background-color: #ceecf9;
}





